# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.pid
*.pid.lock

# Dependencies
node_modules

# Build output
dist
dist-ssr
coverage
.nyc_output

# Environment files
.env
.env.*
!.env.example

# Tool caches
.eslintcache
.vite
.cache

# Local overrides
docker-compose.override.yml

# App local settings
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
